{{#section}}<div class="section">
		<h5>{{name}}</h5>
		({{i}} iterations, {{variables}} variables)
		{{#iterations}}<div class="iterations">{{>mustache}}</div>{{/iterations}}
	</div><br/>{{/section}}
{{#escaped}}<div class="escaped">{{name}}: {{value}}</div>{{/escaped}}
{{#unescaped}}<div class="unescaped">{{name}}: <pre>{{nodes}}</pre></div>{{/unescaped}}
