<div class="span12">
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">Comb Demo</a>
			<ul class="nav">
				<li class="dropdown">
					<a class="dropdown-toggle" id="templatesDD" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
						Templates <b class="caret"></b>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
