*.aux
*.auxlock
*.bbl
*.blg
*.dvi
*.log
*.toc
*.lof
*.ps
*.fdb_latexmk
*.fls
*.out
*.brf
*-blx.bib
*.bcf
*.run.xml
*.synctex.gz
*.synctex.gz(busy)
*-figure*.dpth
*.pdf
!/thesis.*.pdf
thesis-diff.tex
temp
