<details id="movie-{{id}}">
	<summary class="title">{{title}}{{^title}}Untitled{{/title}}</summary>
	<header>
		<section class="operations">
			<span class="edit command">Edit</span>
			<a>Delete</a>
		</section>
	</header>
	<div class="main">
		<h1>{{title}}{{^title}}Untitled{{/title}}</h1>
		(<span class="year">{{year}}{{^year}}0000{{/year}}</span>)
		<div class="poster">
			{{poster}}
		</div>
		<details class="plot">
			<summary class="synopsis">
					Synopsis: <span>{{synopsis}}{{^synopsis}}No synopsis{{/synopsis}}</span>
				</summary>
			<p>{{plot}}{{^plot}}Nothing happens in this movie{{/plot}}</p>
		</details>
		<table class="cast">
			<thead>
				<tr>
					<td>Actor</td>
					<td>Character <span id="add_role_button" class="command">add</span></td>
				</tr>
			</thead>
			<tbody>
				{{#cast}}<tr id="role-{{id}}">{{>role}}</tr>{{/cast}}
			</tbody>
		</table>
	</div>
</details>
